.dock {
  display: flex;
  gap: 0.75rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(84, 81, 81, 0.271);
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);

  .icons {
    padding: 0.65rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 3.75rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .github,
  .cli {
    background-color: black;
  }
  .notes {
    background: linear-gradient(
      to bottom,
      rgb(255, 179, 87),
      rgb(255, 153, 28)
    );
  }
  .pdf {
    background: linear-gradient(to bottom, rgb(255, 65, 78), rgb(255, 25, 40));
  }
  .calender,
  .mail {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }
  .spotify {
    background: linear-gradient(to bottom, rgb(77, 230, 77), rgb(21, 201, 21));
  }

  .link {
    background: linear-gradient(to bottom, rgb(162, 38, 207), rgb(130, 3, 176));
  }


  .icons:hover{
    transform: scale(1.25) translateY(-20%);
  }
  .icons:hover + .icons,            // the + means to select the next element to the selected elemeent and applied the css property the has is an parent selecter which means that the icon which has its nexr icon as performing hover will aslo be selected
  .icons:has(+ .icons:hover){
    transform: scale(1.1) translateY(-10%);
  }
 
}
