* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,#root {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/736x/e1/30/ac/e130ac93e37ec7e0f666ec4a8637f368.jpg");
}
body{
    background-color: black;
}
